@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

:root {
    --primary-color: #8DE4FF;
    --secondary-color: #87CBAC;
    --accent1-color: #7A7978;
    --accent2-color: #8AC4FF;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto:light', serif;

    --nav-background-color: #8AC4;
    --nav-link-color: #547686;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #7A7978;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2em;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-back);
}

header {
    padding: 20px;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

